<h1>登入</h1>

{{> message}}

<div>
    <form action="/login" method="post">
        <div>
            <div>
                <label for="email">電子郵件*</label>
            </div>
            <div>
                <input type="email" id="email" name="email" placeholder="請輸入電子郵件..." required>
            </div>
        </div>

        <div>
            <div>
                <label for="password">密碼*</label>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="請輸入密碼..." required>
            </div>
        </div>

        <div>
            <button type="submit">登入</button>
        </div>
    </form>
</div>

<div>
    <span>使用Facebook快速登入</span>
    <a href="/oauth2/login/facebook">
        <button>前往Facebook登入</button>
    </a>
</div>

<div>
    <span>還沒有帳號嗎？</span>
    <a href="/register">
        <button>前往註冊</button>
    </a>
</div>