<div class="d-flex">
    <div class="login-bg-img d-sm-none d-md-block" style=" background-image: url('{{backgroundImg}}') "></div>

    <div class="container login-input-container login-input-vertical-alignment">

        <div class="row mb-3">

            <div class="col-md-8 col-xl-6 mx-auto">

                <h1 class="mb-3">登入</h1>

                {{> message}}

                <div class="mb-3">
                    <form action="/login" method="post">
                        <div class="form-floating mb-3">
                            <input type="email" id="email" class="form-control" name="email" required>
                            <label for="email">電子郵件*</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" id="password" class="form-control" name="password" required>
                            <label for="password">密碼*</label>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-light">登入</button>
                        </div>
                    </form>
                </div>

                <div>
                    <span>還沒有帳號嗎？</span>
                    <a href="/register" class="d-grid text-decoration-none">
                        <button class="btn btn-light">前往註冊</button>
                    </a>
                </div>

            </div>

        </div>

        <div class="row mb-3">

            <div class="col-md-8 col-xl-6 mx-auto">

                <div class="position-relative">
                    <hr>
                    <span
                        class="position-absolute top-50 start-50 translate-middle login-option-separator-content">or</span>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-8 col-xl-6 mx-auto">

                <div>
                    <a href="/oauth2/login/facebook" class="d-grid text-decoration-none">
                        <button class="btn btn-light">Facebook快速登入</button>
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>