<h1>註冊</h1>

{{> message}}

<div>
    <form action="/users" method="post">
        <div>
            <div>
                <label for="name">名字*</label>
            </div>
            <div>
                <input type="text" id="name" name="name" placeholder="請輸入你的名字或暱稱..." required>
            </div>
        </div>

        <div>
            <div>
                <label for="email">電子郵件*</label>
            </div>
            <div>
                <input type="email" id="email" name="email" placeholder="請輸入電子郵件..." required>
            </div>
        </div>

        <div>
            <div>
                <label for="password">密碼*</label>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="請輸入密碼..." required>
            </div>
        </div>

        <div>
            <div>
                <label for="confirmPassword">確認密碼*</label>
            </div>
            <div>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="再次確認密碼..." required>
            </div>
        </div>

        <div>
            <button type="submit">註冊</button>
        </div>
    </form>
</div>

<div>
    <span>已經有帳號了嗎？</span>
    <a href="/login">
        <button>前往登入</button>
    </a>
</div>